.footer {
    background: #d1d1d1;
    margin-top: auto;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 12px;
}

audio {
    align-self: center;
    justify-self: center;
}

.footer h3 {
    align-self: center;
    justify-self: center;
}